# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Espen Trydal
	email = espen@trydal.io
[init]
	defaultBranch = main
[pull]
	rebase = false
